@import "../../styles/colors";

.todo {
  align-items: center;
  gap: 18px;
  box-shadow: 2px 2px 10px $peach;
  padding: 25px 40px;
  font-size: 20px;
  border-radius: 5px;
  background-color: $beige;
  transition: 300ms;
  transition-timing-function: ease-in;
  animation: rising 1s forwards;
}
.completed {
  background-color: $light-grey;
  box-shadow: 2px 2px 10px $grey;
  transition: 300ms;
  transition-timing-function: ease-in;
}
.fade {
  animation: fade 1s forwards;
}

@keyframes rising {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
