@import "../../scss/core";
@import "../../scss/colors";

.dateRange {
  flex: 3;
  display: flex;
  align-items: center;
  position: relative;
  gap: 15px;

  .icon {
    cursor: pointer;
    color: $light-orange;
  }
  .calendar {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 15px;
  }
  .date {
    font-size: 20px;
  }
}
