@import "./colors";

.btn {
  font-size: 20px;
  text-transform: none;
  color: $dirty-brown;
  background-color: $lemon-cream;
  border: 2px solid $peach;
  padding: 8px 50px;
  border-radius: 5px;
  transition: 300ms;
  transition-timing-function: ease-in;

  &:hover {
    border: 2px solid $peach;
    background-color: $peach;
    transition: 300ms;
    transition-timing-function: ease-in;
  }
}

.completed {
  background-color: $light-grey;
  border: 2px solid $grey;

  &:hover {
    background-color: $grey;
    border: 2px solid $grey;
  }
}
