$light-yellow: #ffffe0;
$peach: #fed6bc;
$light-orange: #d89569;
$beige: #fffbe7;
$light-grey: #eeeeee;
$grey: #cccccc;
$lemon-cream: #fffadd;
$black: rgba(0, 0, 0, 0.3);
$dark-grey: rgba(255, 255, 255, 0.3);
$dirty-brown: rgb(48, 48, 48);
