@import "./styles/colors";
@import "./styles/fonts";
@import "./styles/light-theme";

html,
body {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 300 !important;
  color: $dirty-brown;
}

button,
label,
input,
textarea {
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  letter-spacing: 0.5px;
  color: $dirty-brown;
  font-size: 20px !important;
}

input,
label,
textarea {
  font-weight: 300 !important;
}
